<div class="mx-auto mt-5 col-md-5">
    <h5 class="title">Login</h5>
    <div class="card border-secondary">
      <div class="card-body">
        <form [formGroup]="loginForm" (ngSubmit)="authenticateUser()">
          <div class="form-group">
            <label>User Id</label>
            <input type="text" class="form-control border-secondary" formControlName="userId" />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control border-secondary" formControlName="password" />
          </div>
          <button type="submit" value="Submit" style="border-radius: 12px;" class="btn btn-primary btn-lg btn-block mt-5 mb-2" [disabled]="loginForm.invalid">
            Login
          </button>
          <div class="alert alert-danger text-center" [hidden]="!errorMessage"> {{errorMessage}}</div>
        </form>
      </div>
    </div>
  </div>
  